#stuff not needed for commits

.DS_Store
.nextflow.log*
.nextflow/
/results*/
/test*
/data/
/work*/
/*.png
/*.csv
/*.pdf
/MIA2_Metaphor/
/MIA2_OMA/
/Metaphor/
/OMA/
/all_phobius_results/
/articles/
/backups/
/images/
/jupyter/
/singular/
/secondary_test/
/scripts/__pycache__/
