// Profile for error strategy 


process { 
   cpus = {(task.attempt < 2 ? (1 * task.attempt) :
            task.attempt < 3 ? (2 * task.attempt) :
            task.attempt < 4 ? (3 * task.attempt) :
            8)}
   memory = { (task.attempt < 2 ? (2.GB * task.attempt) :
               task.attempt < 3 ? (3.GB * task.attempt) :
               task.attempt < 4 ? (4.GB * task.attempt) :
               '16.GB')}
   time = { (task.attempt < 2 ? ('30 min' * task.attempt) :
             task.attempt < 3 ? ('1h' * task.attempt) :
             task.attempt < 4 ? ('3h' * task.attempt) :
             '120h')}
   errorStrategy = { task.attempt < 4 ? 'retry' : 'finish' }
   maxRetries = 4
}
