// Config file for the setup using phobius-M7 up to -M models that require the executable phobius-M7.pl 23/04/2021


// params section maybe in future enclose them in a curly bracket

params.phobius_results_subdir = "dump/"				// this needs to be sorted with respect to aln_generation.nf pipeline
params.model_version = "phobius-M27"				// this has to be edited all the time unfortunately
params.exec_version = "phobius-M7.pl"
params.sha_code = "sha256:2cd31304cede8923c5d0b60578b7942be4c61b96d88ecce88349f8f5aa366172"
