// Config file for the setup usingphobius_original model 23/04/2021

docker.enabled = true

//docker.remove = false
//singularity.enabled = true



// params section maybe in future enclose them in a curly bracket

params  {
	parent_ofall_dir = "/home/alessio/Desktop/erasmus-internship/"	// the dir that contains all the others used here below
	SCRIPTS = "${params.parent_ofall_dir}scripts/"			// Where all python scripts are for this project
	TEST_DIR = "${params.parent_ofall_dir}test/"			// the dir where usually  pipelines are lounched it contains the conf
	PIPES = "${params.parent_ofall_dir}pipelines/"			// the dir that contains all pipelines in nextflow, and so modules
	TRIMM_PLP_DIR = "${params.parent_ofall_dir}all_phobius_results/good_pp_vert_originalModel/plps/"
									// this one is used in the aln_generation pipeline
}

// process section

process {
	container = 'biocorecrg/debian-perlbrew-pyenv3-java'
}


// the variables redirecting to others specific config files

profiles {

	test			{includeConfig "${params.TEST_DIR}conf/test.config"}
	original_model		{includeConfig "${params.TEST_DIR}conf/original_model.config"}
	mark7			{includeConfig "${params.TEST_DIR}conf/mark7_models.config"}

}
