// Config file, to be used as a training ground for the moment mar 16 04

process {
   executor = 'crg'
   queue = 'long-sl7'
   cpus = 1
   queueSize = 50
   memory = '4.GB' 
   time = '1 h'
   //container = 'biocorecrg/debian-perlbrew-pyenv3-java'
   //clusterOptions = '-P prj007053'
}



// params section maybe in future enclose them in a curly bracket

params { 
	parent_ofall_dir = "/users/cn/avignoli/TANGO1/"   	// the dir that contains all the others used here below
	SCRIPTS = "${params.parent_ofall_dir}scripts/"    	// Where all python scripts are for this project
	TEST_DIR = "${params.parent_ofall_dir}test/"      	// the dir where usually  pipelines are lounched it contains the conf
	PIPES = "${params.parent_ofall_dir}pipelines/"           // the dir that contains all pipelines in nextflow, and so modules
	CONF_DIR = "${params.parent_ofall_dir}configs/"		// the dir where all config files invocated below in profile are located
	TRIMM_PLP_DIR = "${params.parent_ofall_dir}all_phobius_results/good_pp_vert_originalModel/plps/"	// this one is used in the aln_generation pipeline

	help = false						// used to print help section 
}

// singularity section

singularity {
	enabled = true
	cacheDir = "${params.parent_ofall_dir}singular"		// the directory whre the singularity dirs should be create
}
//env.SINGULARITY_CACHEDIR = "${params.parent_ofall_dir}singular"	 the directory whre the singularity dirs should be created


// the variables redirecting to others specific config files

profiles {

        test                    {includeConfig "${params.CONF_DIR}test.config"}
        original_model          {includeConfig "${params.CONF_DIR}original_model.config"}
        mark7                   {includeConfig "${params.CONF_DIR}mark7_models.config"}
	bovreg			{includeConfig "${params.CONF_DIR}bovreg.config"}
	err_strat		{includeConfig "${params.CONF_DIR}error_strat.config"}
	gpu			{includeConfig "${params.CONF_DIR}gpu.config"}

}

