// GPU usage config file copied from Athanasios Baltzis it is mainly to use alphafold2


params {
	// AF2 or colabfold
	mode = "AF2"
	// Protein fasta input
	//input = "${baseDir}/input.fasta"
	// Ouput directory
	//output = "${baseDir}/output"
	// Database
	//db = "/users/cn/abaltzis/db"
	db = "/nfs/db/alphafold/202112"
	max_template_date = "2020-05-14"
	db_preset = "full_dbs"
	model_preset = "monomer"
	container_af2 = "/users/cn/abaltzis/sing_cache/alphafold_sylabs_gpu_v2.1.1.sif"
	container_colabfold = "/users/cn/abaltzis/sing_cache/localcolabfold.sif"
	email = ""
}

process{
	withName: run_alphafold {
		container = params.container_af2
	}
	withName: run_colabfold {
		container = params.container_colabfold
	}
	memory = "50 GB" //"32 GB"
	cpus = 1
	//queue = 'gpu'
	clusterOptions = '-q gpu,gpu_long -l gpu=1'
	}
	singularity {
		enabled = true
		runOptions = "--bind ${params.db}:/db --nv"
}
