// Config file for the setup using phobius-M7 up to -M models that require the executable phobius-M7.pl 23/04/2021


// params section maybe in future enclose them in a curly bracket

params.phobius_results_subdir = "dump/"				// this needs to be sorted with respect to aln_generation.nf pipeline
params.model_version = "phobius-M27"				// this has to be edited all the time unfortunately
params.exec_version = "phobius-M7.pl"
// params.sha_code = "sha256:f098f1511f37d461f3610884c8197814231eeaec3d09286a941292fa5f289dd5"	// this image has to be created for every new model version there is the need to use 

process {
	withLabel: short {
		container 'alessiovignoli3/tango-project@sha256:c1e907a7011a7b54811ee40263d0d026b84733ae69186bde2add082985d31287'  //M27
	}
	withLabel: short_and_plp {
		container 'alessiovignoli3/tango-project@sha256:d4319c20545e67a781e20de9b19ab8352a3ea922c0239d330efe8a3f39324e0a'  //M27
	}
	withLabel: short_many_plp {
		container 'alessiovignoli3/tango-project@sha256:c1e907a7011a7b54811ee40263d0d026b84733ae69186bde2add082985d31287'  //M27
	}
}
