// Config file for the setup using phobius-M7 up to -M models that require the executable phobius-M7.pl 23/04/2021


// params section maybe in future enclose them in a curly bracket

params.phobius_results_subdir = "dump/"				// this needs to be sorted with respect to aln_generation.nf pipeline
params.model_version = "phobius-M27"				// this has to be edited all the time unfortunately
params.exec_version = "phobius-M7.pl"
params.sha_code = "sha256:f098f1511f37d461f3610884c8197814231eeaec3d09286a941292fa5f289dd5"	// this image has to be created for every new model version there is the need to use 
