// take a look at the params section need to change the parent_of_all variable to respect you system directory location

// Config file, to be used as a training ground for the moment mar 16 04

process {
   executor = 'crg'
   queue = 'cn-el7,long-sl7'
   cpus = 1
   queueSize = 50
   memory = '2.GB' 
   time = '30 min'
   container = 'biocorecrg/debian-perlbrew-pyenv3-java'
   //clusterOptions = '-P prj007053'
}



// params section maybe in future enclose them in a curly bracket

params { 
	parent_ofall_dir = "/users/cn/avignoli/tango1/"   	// the dir that contains all the others used here below
	SCRIPTS = "${params.parent_ofall_dir}scripts/"    	// Where all python scripts are for this project
	TEST_DIR = "${params.parent_ofall_dir}test/"      	// the dir where usually  pipelines are lounched it contains the conf
	PIPES = "${params.parent_ofall_dir}pipelines/"           // the dir that contains all pipelines in nextflow, and so modules
	TRIMM_PLP_DIR = "${params.parent_ofall_dir}all_phobius_results/good_pp_vert_originalModel/plps/"	// this one is used in the aln_generation pipeline
}

// singularity section

singularity {
   enabled = true
   cacheDir = "${params.parent_ofall_dir}singular"		// the directory whre the singularity dirs should be created
}
//env.SINGULARITY_CACHEDIR = "${params.parent_ofall_dir}singular"	 the directory whre the singularity dirs should be created


// the variables redirecting to others specific config files

profiles {

        test                    {includeConfig "${params.TEST_DIR}conf/test.config"}
        original_model          {includeConfig "${params.TEST_DIR}conf/original_model.config"}
        mark7                   {includeConfig "${params.TEST_DIR}conf/mark7_models.config"}
	bovreg			{includeConfig "${params.TEST_DIR}conf/bovreg.config"}
	err_strat		{includeConfig "${params.TEST_DIR}conf/error_strat.config"}

}

