// Config file for the setup using phobius_original model 23/04/2021


// params section maybe in future enclose them in a curly bracket

params.phobius_results_subdir = "good_pp_vert_originalModel/"
params.model_version = "phobius_original_model"
params.exec_version = "phobius.pl"

process {
	withLabel: 'short' {
		container='alessiovignoli3/tango-project@sha256:d7f2fd44c0d2e50bade6ebdd3ed60e3bb307fe2252a59be2cef8645f17ce5773'
 	}
	withLabel: 'short_and_plp' {
		container='alessiovignoli3/tango-project@sha256:a8a34ab4e7220e83c5a02d72ccdb610abe9ef5914797a332fd1d6139e90bb821'
	}
}

