// Config file used for testing stuff 23/04/2021


// params section maybe in future enclose them in a curly bracket

params.phobius_results_subdir = "good_pp_vert_originalModel/"
params.model_version = "phobius_original_model"
params.exec_version = "phobius.pl"
params.sha_code = "sha256:2cd31304cede8923c5d0b60578b7942be4c61b96d88ecce88349f8f5aa366172"
params.infasta_paral = "test12_1.4sampledfasta"
params.inheader = "test19"
params.outputname = "test21"
params.keyword = "test19-{1,2,3}.*"
